    body {
        font-family: "Epilogue", sans-serif;
        margin: 0 auto;
        color: #2D2D2D;
    }
    nav{
        text-align: center;
        display: flex;
        height: 78px;
        padding: 0px 2em;
        justify-content: space-between;
        align-items: center;
        border: 2px solid black;
    }
    nav .navigation a {
        text-align: center;
        text-decoration: none;
        color: #2D2D2D;
    }
    nav .navigation {
        display: flex;
        text-align: center;
        justify-content: space-between; 
        gap: 1em;
    }
    nav div .Logo {
        font-weight: bold;
        font-size: 20px ;
    }
    header {
        border: 2px solid red;
        display: flex;
        justify-content: space-between;
        padding: 3em;

    }
    header div .left-column {
        text-align: center;
        justify-content: space-around;
    }
    header div .right-column {
        align-items: center;
        justify-content: space-around;
    }
    h1 {
        font-size: 68px;
    }
    header .left-column button {
        background-color: #2D2D2D;
        height: 78px;
        width: 211px;
        font-size: 20px;
        text-align: center;
        color: aliceblue;
        margin-top: 20px;
    }
    .images {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 2px solid green;
        height: 130.83px;
    }

    section #text_img {
        height: 513px;
        display: flex;
        justify-content: space-around;
        border: 10px solid violet;
        background-color: blue;
    }